
<div id="kt_content_container" class="d-flex flex-column-fluid align-items-stretch container-xxl">
<div class="wrapper d-flex flex-column flex-row-fluid mt-5 mt-lg-10" id="kt_wrapper">
  <!--begin::Content-->
  <div class="content flex-column-fluid" id="kt_content">
    <!--begin::Post-->
    <div class="post" id="kt_post">
      <!--begin::Question-->
      <div class="mb-0">
        <div class="flex-lg-row-fluid me-xl-15">
          <!--begin::Post content-->
          <div class="mb-17">
            <!--begin::Wrapper-->
            <div class="mb-8">
              <!--begin::Info-->
              <div class="d-flex flex-wrap mb-6">
                <!--begin::Item-->
                <div class="me-9 my-1">
                  <!--begin::Icon-->
                  <i class="ki-duotone ki-element-11 text-primary fs-2 me-1"><span class="path1"></span><span
                      class="path2"></span><span class="path3"></span><span class="path4"></span></i> <!--end::Icon-->

                  <!--begin::Label-->
                  <span class="fw-bold text-gray-500"> {{ article.createdAt }}</span>
                  <!--end::Label-->
                </div>
                <!--end::Item-->

                <!--begin::Item-->
                <div class="me-9 my-1">
                  <!--begin::Icon-->
                  <i class="ki-duotone ki-briefcase text-primary fs-2 me-1"><span class="path1"></span><span
                      class="path2"></span></i> <!--end::Icon-->

                  <!--begin::Label-->
                  <span class="fw-bold text-gray-500">Announcements</span>
                  <!--begin::Label-->
                </div>
                <!--end::Item-->

                <!--begin::Item-->
                <div class="my-1">
                  <!--begin::Icon-->
                  <i class="ki-duotone ki-message-text-2 text-primary fs-2 me-1"><span class="path1"></span><span
                      class="path2"></span><span class="path3"></span></i> <!--end::Icon-->
                  <!--begin::Label-->
                  <span class="fw-bold text-gray-500">{{ comments.length }} Comments</span>
                  <!--end::Label-->
                </div>
                <!--end::Item-->
              </div>
              <!--end::Info-->
              <!--begin::Title-->
              <a class="text-gray-900 text-hover-primary fs-2 fw-bold">
                {{ article.title }}
                <span class="fw-bold text-muted fs-5 ps-1"> {{ article.timeRead }} mins read</span>
              </a>
              <!--end::Title-->
            </div>
            <!--end::Wrapper-->

            <!--begin::Description-->
            <div class="fs-5 fw-semibold text-gray-600" [innerHTML]="article.body">
            </div>
            <!--end::Description-->
          </div>
          <!--end::Post content-->
        </div>
        <!--begin::Separator-->
        <div class="separator separator-dashed border-gray-300 mt-8 mb-10"></div>
        <!--end::Separator-->
        <div *appShowAuthed="false">
          <a [routerLink]="['/login']">Đăng nhập</a> hoặc
          <a [routerLink]="['/register']">đăng ký</a> để bình luận bài viết.
        </div>
        <!--begin:Reply Form-->
        <form id="kt_devs_reply_form" class="form mb-10" *appShowAuthed="true" (ngSubmit)="addComment()">
          <!--begin::Input group-->
          <div class="form-group mb-2" [disabled]="isSubmitting">
            <textarea name="comment" class="form-control" rows="6" placeholder="Your reply here.." maxlength="1000"
              data-kt-autosize="true" style="
                overflow: hidden;
                overflow-wrap: break-word;
                resize: none;
                text-align: start;
                height: 150.6px;
              " data-kt-initialized="1" [formControl]="commentControl"></textarea>
          </div>
          <!--end::Input group-->

          <!--begin::Action-->
          <div class="d-flex align-items-center justify-content-between py-2 mb-5">
            <!--begin::Formating toggle-->
            <div class="text-primary fs-base fw-semibold cursor-pointer" data-bs-toggle="collapse"
              data-bs-target="#kt_devs_ask_formatting">
              <app-list-errors [errors]="commentFormErrors"></app-list-errors>
            </div>
            <!--end::Formating toggle-->

            <!--begin::Submit-->
            <button class="btn btn-primary fw-bold" type="submit">
              Bình luận
            </button>
            <!--end::Submit-->
          </div>
          <!--end::Action-->
        </form>
        <!--end:Reply Form-->


        <!--begin::Replies-->
        <div class="mb-10">
          <app-article-comment *ngFor="let comment of comments; trackBy: trackByFn" [comment]="comment"
            (deleteComment)="onDeleteComment(comment)">
          </app-article-comment>
        </div>
        <!--end::Replies-->

      </div>

      <!--end::Post-->
      
    </div>
    <!--end::Content-->

    <!--begin::Footer-->
    <div class="footer pt-10 pb-5 d-flex flex-column flex-md-row flex-stack" id="kt_footer">
      <!--begin::Copyright-->
      <div class="text-gray-900 order-2 order-md-1">
        <span class="text-muted fw-semibold me-1">2024©</span>
        <a href="https://keenthemes.com" target="_blank" class="text-gray-800 text-hover-primary">Keenthemes</a>
      </div>
      <!--end::Copyright-->

      <!--begin::Menu-->
      <ul class="menu menu-gray-600 menu-hover-primary fw-semibold order-1">
        <li class="menu-item">
          <a href="https://keenthemes.com" target="_blank" class="menu-link px-2">About</a>
        </li>

        <li class="menu-item">
          <a href="https://devs.keenthemes.com" target="_blank" class="menu-link px-2">Support</a>
        </li>

        <li class="menu-item">
          <a href="https://1.envato.market/EA4JP" target="_blank" class="menu-link ps-2 pe-0">Purchase</a>
        </li>
      </ul>
      <!--end::Menu-->
    </div>
    <!--end::Footer-->
  </div>
  
</div>
<app-sidebar [article]="article" [comments]="comments.length" ></app-sidebar>
</div>



