<!--begin::Main-->
<!--begin::Root-->
<div class="d-flex flex-column flex-root">
  <!--begin::Page-->
  <div class="page d-flex flex-column flex-column-fluid">
    <app-layout-header></app-layout-header>

    <!--begin::Container-->
    <div id="kt_content_container" class="d-flex flex-column-fluid align-items-stretch container-xxl">
      <!--begin::Aside-->
      <div id="kt_aside" class="aside" data-kt-drawer="true" data-kt-drawer-name="aside"
        data-kt-drawer-activate="{default: true, lg: false}" data-kt-drawer-overlay="true"
        data-kt-drawer-width="{default:'200px', '300px': '225px'}" data-kt-drawer-direction="start"
        data-kt-drawer-toggle="#kt_aside_toggle" data-kt-sticky="true" data-kt-sticky-name="aside-sticky"
        data-kt-sticky-offset="{default: false, lg: '1px'}" data-kt-sticky-width="{lg: '225px'}"
        data-kt-sticky-left="auto" data-kt-sticky-top="94px" data-kt-sticky-animation="false"
        data-kt-sticky-zindex="95">
        <!--begin::Aside nav-->
        <div class="hover-scroll-overlay-y my-5 my-lg-5 w-100 ps-4 ps-lg-0 pe-4 me-1" id="kt_aside_menu_wrapper"
          data-kt-scroll="true" data-kt-scroll-activate="{default: false, lg: true}" data-kt-scroll-height="auto"
          data-kt-scroll-dependencies="#kt_header" data-kt-scroll-wrappers="#kt_aside" data-kt-scroll-offset="5px">
          <!--begin::Menu-->
          <div class="menu menu-column menu-active-bg menu-hover-bg menu-title-gray-700 fs-6 menu-rounded w-100"
            id="#kt_aside_menu" data-kt-menu="true">
            <!--begin::Heading-->
            <div class="menu-item">
              <div class="menu-content pb-2">
                <span class="menu-section text-muted text-uppercase fs-7 fw-bold">Public</span>
              </div>
            </div>
            <!--end::Heading-->

            <!--begin::Menu item-->
            <div class="menu-item">
              <a class="menu-link" (click)="toggleActiveClass(1)" [class.active]="isActive" routerLink="/">
                <span class="menu-title">Tất cả</span>
                <span class="menu-badge">6,234</span>
              </a>
            </div>
            <!--end::Menu item-->

            <!--begin::Menu item-->
            <div class="menu-item">
              <a class="menu-link " (click)="toggleActiveClass(2)" [class.active]="isActive2">
                <span class="menu-title">Tìm kiếm</span>
              </a>
            </div>
            <!--end::Menu item-->

            <!--begin::Menu item-->
            <div class="menu-item">
              <a class="menu-link" (click)="toggleActiveClass(3)" [class.active]="isActive3">
                <span class="menu-title">Tags</span>
              </a>
            </div>
            <!--end::Menu item-->

            <!--begin::Menu item-->
            <div class="menu-item">
              <a class="menu-link" (click)="toggleActiveClass(4)" [class.active]="isActive4">
                <span class="menu-title">Thảo luận</span>
              </a>
            </div>
            <!--end::Menu item-->

            <!--begin::Heading-->
            <div class="menu-item pt-5">
              <div class="menu-content pb-2">
                <span class="menu-section text-muted text-uppercase fs-7 fw-bold">Chủ đề</span>
              </div>
            </div>
            <!--end::Heading-->

            <!--begin::Menu item-->
            <div class="menu-item">
              <a class="menu-link" *ngFor="let category of categorys;">
                <span class="menu-title"> {{ category }}</span>
                <!-- <span class="menu-badge">24</span> -->
              </a>
            </div>
            <!--end::Menu item-->



            <!--begin::Heading-->
            <div class="menu-item pt-5">
              <div class="menu-content pb-2">
                <span class="menu-section text-muted text-uppercase fs-7 fw-bold">Tags</span>
              </div>
            </div>
            <!--end::Heading-->

            <!--begin::Menu item-->
            <div class="menu-item">
              <a *ngFor="let tag of tags;" class="menu-link">
                <span class="menu-title"> {{ tag }}</span>
                <!-- <span class="menu-badge">1,400</span> -->
              </a>
            </div>
            <!--end::Menu item-->

            <!--begin::Menu item-->


            <!--begin::Heading-->
            <div class="menu-item">
              <div class="menu-link">
                <a hred="#" class="menu-title text-muted fs-7" id="kt_aside_categories_toggle" data-bs-toggle="collapse"
                  data-bs-target="#kt_aside_categories_more">
                  Xem Thêm
                </a>
              </div>
            </div>
            <!--end::Heading-->
          </div>
          <!--end::Menu-->
        </div>
        <!--end::Aside nav-->
      </div>
      <!--end::Aside-->
      <router-outlet></router-outlet>

      <!--begin::Sidebar-->
      <!-- <app-sidebar ></app-sidebar> -->
      <!--end::Sidebar-->
    </div>
    <!--end::Container-->
  </div>
  <!--end::Page-->
</div>
<!--end::Root-->