<!--begin::Foot-->

  <!--begin::Author-->
  <div class="d-flex align-items-center py-1">
    <!--begin::Symbol-->
    <div class="symbol symbol-35px me-2">
      <div class="symbol-label bg-light-success fs-3 fw-semibold text-success text-uppercase"
        [routerLink]="['/profile', article.author.username]">
        j
      </div>
    </div>
    <!--end::Symbol-->

    <!--begin::Name-->
    <div class="d-flex flex-column align-items-start justify-content-center">
      <a class="text-gray-800 fs-7 fw-semibold lh-1 mb-2" [routerLink]="['/profile', article.author.username]">
        {{ article.author.username }}</a>
      <span class="text-muted fs-8 fw-semibold lh-1">{{ article.createdAt }}</span>
    </div>
    <!--end::Name-->
  </div>
  <!--end::Author-->

 


<!--end::Foot-->